*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    background: url('../img/header-bg.jpg') center top/cover;
}

.header__inner{
    display: flex;
    align-items: center;
    padding-top:57px
}

.header__nav{
    padding-left: 70px;
}


.header__links{
    font-family: Anton;
    
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;

    margin-right: 40px;
}


.header__links:hover {
	border-bottom: 1px solid #fff;
}


.header__telefon{
    font-family: Anton;
    
    font-size: 17px;
    line-height: 25px;

    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;

    margin-left: auto;
}


.burger {
  display: none;
  cursor: pointer;
  margin-left: 40px;
  position: relative;
  z-index: 5;
}

.burger div {
  width: 34px;
  height: 4px;
  background-color: #fff;
  margin: 5px;
}


.header__inner .show-header__nav{
    display: flex;
    flex-direction: column;

    padding-top: 260px;
    position: fixed;
    background: rgba(0,0,0,0.9);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    

    transition: all 0.3s ease;
}




/*=========Offer===============================*/


.offer__inner{
    margin-top: 216px;
    padding-bottom:322px
}

.offer__title{
    font-family: Anton;

    font-size: 30px;
    line-height: 44px;


    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.offer__title2{
    font-family: Anton;
    font-size: 100px;
    line-height: 147px;

    text-transform: uppercase;
    margin-top: -9px;
    margin-left: -3px;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.offer__button{
    display: block;
    font-family: Anton;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 17px 47px;
    width: 238px;
    transition: all 0.5s ease;
}


.offer__button:hover{
    background: #fff;
    color:#000;
}


/*============About================*/

.about{
    background: #E5E5E5;
}

.about__inner{
    width: 100%;
}
.about__blocks{
    display: flex;
    justify-content: space-between;
    padding-bottom: 67px;
}
.block{
    width: 564px;
}
.about__title{
    font-family: Anton;
    font-size: 50px;
    line-height: 73px;
    text-transform: uppercase;

    color: #000000;

    padding: 113px 0 58px 0;
}

.block__title{
    font-family: Anton;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;

    color: #000000;
}

.block__text{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;

    color: #000000;
}

.about__galery{
    display: flex;
    justify-content: space-between;
}
.about__img{
    height: 100%;
    max-height: 344px;
    transition: all 0.5s ease;
}

.about__img:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}




/*============Footer================*/

.footer{
    background: #E5E5E5;
    padding-top: 114px;
}
.footer__copyright{
    font-family: Open Sans;
    font-size: 15px;
    line-height: 20px;

    color: #000000;

    padding-bottom: 80px;
}


/*============Adaptive================*/


@media screen and (min-width:1200px){
    .container{
        width: 1140px;
    }
}


@media screen and (max-width:1199px){
    .container{
        width: 960px;
    }
    .block{
        width: 48%;
    }
    .about__img:nth-child(1) {
        width: 23%;
    }
    .about__img:nth-child(2) {
        width: 23%;
    }
    .about__img:nth-child(3) {
        width: 48%;
    }

}

@media screen and (max-width:991px){
    .container{
        width: 720px;
    }
}

@media screen and (max-width:767px){
    .container{
        width: 540px;
    }
    .header__nav{
        display: none;
    }

    .header__links{
        font-size: 35px;
        line-height: 1.7;
    }

    .burger{
        display: block;
    }

    .offer__title2{
        margin-top: 10px;
        line-height: 1em;
    }

    .about__blocks{
        flex-wrap: wrap;
    }
    .block{
        width: 100%;
        margin-bottom:60px;
    }

    .block:last-child{
        margin-bottom:0;
    }

    .about__galery{
        flex-wrap: wrap;
    }

    .about__img:nth-child(1) {
        width: 100%;
        margin-bottom: 30px;
    }
    .about__img:nth-child(2) {
        width: 100%;
        margin-bottom: 30px;
    }
    .about__img:nth-child(3) {
        width: 100%;
    }

}

@media screen and (max-width:575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
}